<h2>Research project info</h2>

<div class = "aProject">
	<p>
		<strong>Title:</strong>
		<%= @research.title %>
	</p>

	<p>
		<strong>Content:</strong>
		<%= @research.content %>
	</p>

	
	<% if current_user.present? %>
		<% if current_user.faculty? or current_user.admin?  %>
			<p>
				<%= link_to 'Edit', edit_research_path(@research), :class => "button" %>
				<%= link_to 'Remove', @research, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button"  %>
			</p>
		<% end %>
	<% end %>
	
</div>