<% if current_user.present? %>
	<% if current_user.faculty? or current_user.admin?  %>
		<h2>Editing event</h2>
		<div class = "aProject">
			<%= render 'form' %>
		</div>
	<% end %>
<% else %>
	<% unauthorized  events_path %>
<% end %>