
<% if current_user.present? %>
	<% if current_user.faculty? or current_user.admin?  %>

		<h1>Editing Event</h1>

		<%= render 'form'  %>

		<%= link_to 'Show', @event %> |
		<%= link_to 'Back', events_path %>
	<% end %>
<% else %>
<% unauthorized  events_path %>
<% end %>